@import "tailwindcss";

@theme {
    --font-primary: "Outfit", sans-serif;
    --color-mercedes-primary: #03BFB5;
    --color-mercedes-secondary: #004146;
    --color-mercedes-tertiary: #949398;
}

body {
    font-family: var(--font-primary), sans-serif;
}